.button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-image: url(../close-button/images/close.svg);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    background-color: var(--btn-color-hover);
  }

  &:active {
    background-color: var(--btn-color-pressed);
  }

  &:disabled {
    background-color: var(--btn-color-disabled);
  }

}
