.button {
  width: 100%;
  height: 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--btn-color-default);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--font-color-light);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;

  &:hover {
    background-color: var(--btn-color-hover);
  }

  &:active {
    background-color: var(--btn-color-pressed);
  }

  &:disabled {
    background-color: var(--btn-color-disabled);
    color: var(--font-color-disabled);
  }
}
