.house {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 358px;
  min-height: fit-content;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__heading {
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--font-color);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  &__controls {
    display: flex;
    gap: 8px;
  }

}
